@using ProjeBlog.Models

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjeBlog.Models.Content
<head>
    <meta charset="utf-8">
    <title>CKEditor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
</head>
    <div class="box">
        <div class="card shadow" style="margin:auto">

        
            <div style="width:80%;display: flex; justify-content: center; align-items: center;margin-left:auto; margin-right:auto;">
                <form method="post" asp-area="Management" asp-controller="Content" asp-action="Update">
                <div class="mb-3">
                    <label class="col-form-label" asp-for="Title">Başlık</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                @* <div class="mb-3">
                    <label class="col-form-label">Kategori</label>
                    <input type="text" class="form-control" asp-for="CategoryID" />
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div> *@
                <label for="CategoryID">Kategori</label>
                <select asp-for="CategoryID" id="CategoryID" class="form-control">
                    @{
                        var Categories = ViewData["Categories"] as List<Category>;
                        foreach (var category in Categories)
                        {
                            if (category.Status != ProjeBlog.Enums.DataStatus.Deleted)
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
                <div class="mb-3">
                    <label class="col-form-label" asp-for="CoverImagePath">Kapak Resmi</label>
                    <input type="text" class="form-control" asp-for="CoverImagePath" />
                </div>
                <div class="mb-3">
                    <label class="col-form-label" asp-for="Entry">Yazı</label>
                    <textarea type="text" class="ck-editor" id="editor" asp-for="Entry"></textarea>
                    <span asp-validation-for="Entry" class="text-danger"></span>
                </div>

                    <button style="margin-top:15px;margin-bottom:15px;margin-left:auto;margin-right:0;float:right;width:25%" type="submit" class="btn btn-primary">Kaydet</button>

                    <label id="contentHiddenLabel" hidden="">@Model.Entry</label>

                </form>
                <script>
                    var string = document.getElementById('contentHiddenLabel').textContent;
                    console.log(string);
                    ClassicEditor
                        .create(document.querySelector('#editor'))
                        .then(editor => {
                            editor.setData(string);
                            console.log(editor);
                            console.log("deneme");
                        })
                        .catch(error => {
                            console.error(error);
                        });
                </script>
            </div>

            <div>
                @{
                    string message = TempData["Message"] as string;
                }

                @if (!string.IsNullOrEmpty(message))
                {
                    <div class="alert alert-info">
                        @message
                    </div>
                }
            </div>
        
        </div>
    </div>

