@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model ProjeBlog.Models.AppUser

<div class="box" style="margin:4%;">

    <form style="margin:4%" method="post" asp-controller="UserAuth" asp-action="Login">
        <div class="row">
            <input style="width:350px;margin-left:auto; margin-right:auto;margin-top:3%;margin-bottom:3%" class="email_text" placeholder="kullanıcı adı / e-posta" id="emailInput" type="text" asp-for="UserName">
        </div>
        <div class="row">
            <input style="width:350px;margin-left:auto; margin-right:auto;margin-top:3%;margin-bottom:3%" class="email_text" placeholder="şifre" id="passwordInput" type="password" asp-for="Password">
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" style="resize:both;width:350px;margin-left:auto; margin-right:auto;margin-top:3%;margin-bottom:3%">Giriş</button>
        </div>

    </form>

</div>
