@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjeBlog.Models;
@model ProjeBlog.Models.AppUser
<table style="margin-left:auto; margin-right:auto; width: 100%">
    <tr>
        <td style="padding-left:auto">
            <label>
                Kullanıcı Adı:
            </label>
        </td>
        <td>
            <input asp-for="UserName"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Şifre:
            </label>
        </td>
        <td>
            <input asp-for="Password" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
                Şifre Tekrarı:
            </label>
        </td>
        <td>
            <input asp-for="RePassword" />
        </td>
    </tr>
    <tr>
        <td>
            <label>
                E-posta:
            </label>
        </td>
        <td>
            <input asp-for="Email" />
        </td>
    </tr>

</table>