@model List<ProjeBlog.Models.Content>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="col-lg-10 col-sm-10" style="border-width:2px;border-right:groove;">
    <div class="container">
        <div  style="padding:3vh">
            
            <div style="padding-top:30px;text-align:center;">
                <row>@{
                        if(Model[0].CoverImagePath != null)
                        {
                            <img style="max-height:65vh;text-align:center; margin:3vh;" src="@Model[0].CoverImagePath" />
                        }
                        else{

                        }
                    }
                    
                </row>
                <row>
                    <h3 style="margin-left:auto; margin-right:auto">@Model[0].Title </h3>
                </row>
            </div>
            <div class="row">
                <article>@Html.Raw(@Model[0].Entry)</article>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-sm-2">
    <div class="newsletter_main">
        <h1 class="recent_taital">Recent post</h1>
        <div class="recent_box">
            <div class="recent_left">
                <div class="image_6"><img src="images/img-6.png"></div>
            </div>
            <div class="recent_right">
                <h3 class="consectetur_text">Consectetur adipiscing</h3>
                <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing </p>
            </div>
        </div>
        <div class="recent_box">
            <div class="recent_left">
                <div class="image_6"><img src="images/img-7.png"></div>
            </div>
            <div class="recent_right">
                <h3 class="consectetur_text">Consectetur adipiscing</h3>
                <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing </p>
            </div>
        </div>
    </div>
</div>