@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjeBlog.Models;
@model ProjeBlog.Models.Category

<div class="container mt-5" style="margin: 0 auto; max-width: 600px;">
    <div>
        @{
            string message = ViewData["Message"] as string;
        }

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info">
                @message
            </div>
        }
    </div>
        <div class="box">
        <div class="card shadow" style="margin:10%">
            <div class="card-header text-center bg-primary text-white">
                <h4>Kategori Güncelle</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-area="Management" asp-controller="Category" asp-action="Update">
                    <div class="form-group mb-3">
                        <label for="Name">Kategori:</label>
                        <input type="text" class="form-control" asp-for="Name" id="UserName" />
                    </div>

                    <div class="form-group mb-3">
                        <label for="Description">Açıklama:</label>
                        <input type="text" class="form-control" asp-for="Description" id="Password" />
                    </div>
                    <div class="text-center">
                        <button type="submit" style="width:50%; margin:10%" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
